<style>
    #start_topic {
        margin-left: 150px;
    }
</style>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag :prototype %>
<div id="update_data">
    <div id="start_topic">
        <%=link_to_remote "Start new topic", :update => "update_data",:url => { :action => "new_topic"} %>
    </div>
    <div>
        <%=@locations = Location.find(:all,:select=>"id,name")
        select_tag(:location_id,options_from_collection_for_select(@locations, :id, :name),:onchange=>"#{remote_function(:url => {:action=>'search_forum'},:with => "'location_id='+this.value",:update =>'forum_result',:complete => 'a')}") %>
    </div>
    <div id="forum_result">
        <%for forum in @forums %>
        <div style="float:left;">
            <%=forum.title %>
        </div>
        <div>
            <%=forum.user_name %>
        </div>
        <div>
            <%=forum.content %>
        </div>
        <div>
            <%=forum.create_date %>
        </div>
        <%end %>
    </div>
</div>
