<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title>DEMO MAP API - Powered by VIETBANDO API</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <%=stylesheet_link_tag 'fonts-min' %>
        <%=stylesheet_link_tag 'reset-fonts-grids' %>
        <%=stylesheet_link_tag 'resize' %>
        <%=stylesheet_link_tag 'layout' %>
        <%=stylesheet_link_tag 'button' %>
        <%=stylesheet_link_tag 'tabview' %>
        <%=stylesheet_link_tag 'container' %>
        <%=stylesheet_link_tag 'menu' %>
        <%=stylesheet_link_tag 'vbd' %>
        <%= javascript_include_tag "vietbando/yahoo-dom-event" %>
        <%= javascript_include_tag "vietbando/yahoo-min" %>
        <%= javascript_include_tag "vietbando/event-min" %>
        <%= javascript_include_tag "vietbando/dom-min" %>
        <%= javascript_include_tag "vietbando/element-beta-min" %>
        <%= javascript_include_tag "vietbando/dragdrop-min" %>
        <%= javascript_include_tag "vietbando/resize-beta-min" %>
        <%= javascript_include_tag "vietbando/animation-min" %>
        <%= javascript_include_tag "vietbando/layout-beta-min" %>
        <%= javascript_include_tag "vietbando/tabview-min" %>
		<%= javascript_include_tag "vietbando/button-min" %>
		<%= javascript_include_tag "vietbando/container-min" %>
		<%= javascript_include_tag "vietbando/menu" %>
        
        <!--<script type="text/javascript" src="yui/build/container/container.js"></script> -->
       
        <!-- VIETBANDO API -->
        <script type="text/javascript" src="http://www.vietbando.com/API/VBDMapAPI.js?key=E43pcmZHdUhElRFT/OOF1v1DvMuLOOKM">
        </script>
        <script type="text/javascript" src="js/incVbdApi.js">
        </script>
        <!-- END VIETBANDO API -->
        <script type="text/javascript" language="javascript" src="js/shoutbox.js">
        </script>
        <style type="text/css">
         <!--
        
        .smallmap {
            background-color: #FFFFFF;
            height: 200px;
            width: 200px;
            border: thin solid #A6CEFF;
        }
        -->
        </style>
    </head>
    <body class=" yui-skin-sam" onload="loadMap();loadMessages();">
        <script>
            /*
             (function() {
             //test dialog box
             //init context menu
             YAHOO.util.Event.onContentReady("divMapPanel", function () {
             var oFieldContextMenuItemData = [
             { text: "Từ đây", onclick: { fn: doFromhere } },
             { text: "Đến đây", onclick: { fn: doTohere } },
             //{ text: "Thêm vào POI", onclick: { fn: doAddPOI } },
             { text: "Phóng to", onclick: { fn: doZoomIn } },
             { text: "Thu nhỏ", onclick: { fn: doZoomOut } },
             { text: "Tâm bản đồ", onclick: { fn: doZoomCenter } }
             
             ];
             var oFieldContextMenu = new YAHOO.widget.ContextMenu(
             "fieldcontextmenu",
             {
             trigger: "divMapPanel",
             itemdata: oFieldContextMenuItemData,
             lazyload: true
             }
             );
             });
             //init tab view
             var tabView = new YAHOO.widget.TabView('divActionTabs');
             // init dialog
             /////////////////////////////////////////////////////////////////////////////////
             
             var Dom = YAHOO.util.Dom,
             Event = YAHOO.util.Event;
             Event.onDOMReady(function() {
             var layout = new YAHOO.widget.Layout({
             units: [
             { position: 'top', resize: false, height: 50, scroll: false, body: 'divTopPanel'},
             { position: 'left', header: 'Welcome', width: 300, resize: true, gutter: '3 5 3 3', collapse: true, body: 'divLeftPanel', animate: true, maxWidth: 350, minWidth: 200 },
             { position: 'center', header: 'Map',resize: true, gutter: '3 3 3 0', body: 'divMapPanel', scroll: false, animate: true }
             ]
             });
             layout.render();
             
             layout.on("resize",function(){
             map.checkResize();});
             
             map.checkResize();
             });
             
             })();
             */
        </script>
        <form id="form1" runat="server">
            <div>
                <div id="divTopPanel" style="WIDTH: 100%; HEIGHT: 38px; background-image: url(/images/hd-bg.gif); layer-background-image: url(/images/hd-bg.gif); border: 1px none #000000;" align="left">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td width="31%">
                                <img src="/images/header-logo.gif" alt="logo" width="224" height="38" />
                            </td>
                            <td width="24%">
                                &nbsp;
                            </td>
                            <td width="45%" align="center">
                                <div style="HEIGHT:38px;WIDTH:100%">
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="divLeftPanel">
                    <div id="divActionTabs" class="yui-navset">
                        <ul class="yui-nav">
                            <li class="selected">
                                <a href="#"><em>Tìm địa chỉ</em></a>
                            </li>
                            <li>
                                <a href="#"><em>Tìm đường</em></a>
                            </li>
                            <!--<li><a href="#"><em>P O I</em></a></li>-->
                        </ul>
                        <div class="yui-content">
                            <div id="tabSPlace" style="position:relative; height: 480px;">
                                <table width="100%" border="0" cellpadding="1" cellspacing="0">
                                    <tr>
                                        <th width="46%" height="25" align="left" valign="top" scope="col">
                                            <input name="txtSPlace" type="text" id="txtSPlace" style="border: 1px solid #73AED6;width: 220px; height: 18px; font-size: 12px;" onkeydown="onTextBoxSearch(event)"/>
                                        </th>
                                        <th width="54%" align="center" valign="top" scope="col">
                                            <button type="button" id="yuiSearchBtn" name="yuiSearchBtn" value="Tìm" onclick="apiCallSearch('txtSPlace')">
                                                Tìm
                                            </button>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                            <div id="tabSDirection" style="height:480px; overflow:auto;">
                                <table id ="tblDirection" width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                    <tr class="panel_ddw1">
                                        <td width="10%" align="center" valign="middle">
                                        A
                                        </th>
                                        <td width="90%">
                                            <input type="text" id="txtDirStart" name="txtDirStart" onkeydown="onTextBoxSearch(event)" class="inputtext"/>
                                        </td>
                                    </tr>
                                    <tr valign="middle" class="panel_ddw1">
                                        <td height="20" align="center">
                                            B
                                        </td>
                                        <td>
                                            <input type="text" id="txtDirEnd" name="txtDirEnd" onkeydown="onTextBoxSearch(event)" class="inputtext"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="20">
                                            &nbsp;
                                        </td>
                                        <td valign="top">
                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <th width="8%" scope="col">
                                                        <input name="btnSDirection" type="button" id="btnSDirection" value="Tìm đường" onclick="apiCallSearchDirection()"/>
                                                    </th>
                                                    <th width="7%" scope="col">
                                                        &nbsp;
                                                    </th>
                                                    <th width="85%">
                                                        <a onclick="clearResult()" href="#" class="smMenu">Xóa kết quả </a>
                                                    </th>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- <div id="divDirResultShow" style="height: 150px;"></div>-->
                                <!--</div><div id="tabAOI" style="height: 600px;">
                                <table border="0" align="center" cellspacing="5" id="tblShoutbox">
                                <tr>
                                <td colspan="2"><div id="messageData" style="width:100%;"></div>					  </td>
                                </tr>
                                <tr>
                                <td align="right" valign="top" class="tCell">Message:</td>
                                <td><textarea name="text" cols="20" id="messageInput" style="margin-top:5px; /&gt;&lt;/td&gt;
                                &lt;/tr&gt;
                                &lt;tr&gt;
                                &lt;td colspan=" 2="2" align="center"></textarea>
                                <input name="button" type="button" class="button" onclick="postMessage();" value="Send Message" />                      </td>
                                </tr>
                                </table>
                                </div>-->
                            </div>
                        </div>
                    </div>
                    <div id="divMapPanel" style="position:relative;width:100%;height:100%; ">
                    </div>
                </div>
                </form>
            </body>
            </html>
