<div id="logo">
  <a href="/cover">
    <%= image_tag 'logo.png' %>
  </a>
</div>
<% if current_user.blank? %>
  <div class="members">
    <a href="/users/sign_in">Login</a>&nbsp;|&nbsp;
    <a href="/users/sign_up">Sign Up</a>
  </div>
<% else %>
  <div class="members-login members">
    <%= link_to(t('home'), '/home')%>&nbsp;|&nbsp;
    <% if current_campaign && current_user %>
      <%= link_to "Campaign Page", "/edit/#{current_campaign.url}" %>&nbsp;|&nbsp;
    <% end %>
    <%= link_to(t('profile.one'), current_subject)%>&nbsp;|&nbsp;
    <%= link_to t('sign_out'), destroy_user_session_path, :method => :delete  %>
  </div>
<% end %>

<div class="clear"></div>
