<%location_name =@location.name %>
<table>
    <tr>
        <td>
            <%unless @trip.blank? %>
            <a id="link_id" class="font_standand" href="javascript:showMe('theLayer');">Edit Trip</a>
            <%else %>
            <a id="link_id" class="font_standand" href="javascript:showMe('theLayer');">Make Trip</a>
            <%end %>
            <div id="theLayer" style="position:absolute;width:250px;left:200px;visibility:hidden">
                <table class="pop_dialog_table" id="pop_dialog_table">
                    <tr>
                        <td class="pop_topleft"/><td class="pop_border"/><td class="pop_topright"/>
                    </tr>
                    <tr>
                        <td class="pop_border"/>
                        <td id="pop_content" class="pop_content">
                            <h2 class="dialog_title" style="width:99.5%;"><span>Add Tung as a friend?</span></h2>
                            <div class="dialog_content">                                 
                                <br/>
                                <%unless @trip.blank? %>
                                <% form_remote_tag(:url => {:controller=>'trip',:action => 'create_trip',:edit=>"true",:trip_id=>@location.id,:locat_name=>@trip.locat_name},:complete=>"hideMe('theLayer');return false",:update => 'link_id') do %>
                                <div class="dialog_body">
                                    <div class="clearfix">
                                        <table>
                                            <tr>
                                                <td class="font_standand">
                                                    Location:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%=@locations = Location.find(:all,:select=>"id,name")
                                                    select_tag(:location_id_basic,options_from_collection_for_select(@locations, :id, :name,@trip.location_id),:onchange=>"#{remote_function(:url => {:action=>'search_community',:search_basic=>true},:with => "'location_id='+this.value",:update =>'search_result',:complete => 'a')}",:style=>"width:140px;font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;font-size: 11px;") %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font_standand">
                                                    Start Trip:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%= calendar_date_select_tag "start_search", "", :style=>"width:130px;" ,:value=>"#{Time.now.strftime("%B %d, %Y")}"%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font_standand">
                                                    End Trip: 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%= calendar_date_select_tag "end_search", "", :style=>"width:130px;" ,:value=>"#{Time.now.strftime("%B %d, %Y")}"%>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="dialog_buttons" class="dialog_buttons" align="left">
                                        <input type="submit" id="dialog_button1" value="Make trip" class="inputsubmit"/><input type="button" onClick="hideMe('theLayer');return false" id="dialog_button2" value="Cancel" class="inputsubmit inputaux"/>
                                    </div>
                                </div><%end %>
                                <%else %>
                                <div class="dialog_body">
                                    <div class="clearfix">
                                        <% form_remote_tag(:url => {:controller=>'trip',:action => 'create_trip',:edit=>"false",:locat_id=>@location.id,:locat_name=>location_name},:complete=>"hideMe('theLayer');return false",:update => 'link_id') do %>
                                        <table>
                                            <tr>
                                                <td class="font_standand">
                                                    Location:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%=@locations = Location.find(:all,:select=>"id,name")
                                                    select_tag(:location_id_basic,options_from_collection_for_select(@locations, :id, :name,@location.id),:onchange=>"#{remote_function(:url => {:action=>'search_community',:search_basic=>true},:with => "'location_id='+this.value",:update =>'search_result',:complete => 'a')}",:style=>"width:140px;font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;font-size: 11px;") %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font_standand">
                                                    Start Trip:
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%= calendar_date_select_tag "start_search", "", :style=>"width:130px;" ,:value=>"#{Time.now.strftime("%B %d, %Y")}"%>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="font_standand">
                                                    End Trip: 
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <%= calendar_date_select_tag "end_search", "", :style=>"width:130px;" ,:value=>"#{Time.now.strftime("%B %d, %Y")}"%>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div id="dialog_buttons" class="dialog_buttons" align="left">
                                        <input type="submit" id="dialog_button1" value="Make trip" class="inputsubmit"/><input type="button" onClick="hideMe('theLayer');return false" id="dialog_button2" value="Cancel" class="inputsubmit inputaux"/>
                                    </div>
                                </div><%end %>
                                <%end %>
                            </div>
                        </td><td class="pop_border"/>
                    </tr>
                    <tr>
                        <td class="pop_bottomleft"/><td class="pop_border"/><td class="pop_bottomright"/>
                    </tr>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <b><%=location_name %>
            </b>
        </td>
    </tr>
    <tr>
        <td class="font_standand">
            
        </td>
    </tr>
</table>
<div class="wallkit_frame clearfix" style="width:600px;valign:top;text-align:left;">
    <div class="wallkit_title">
        <div class="title_left">
            Talk about the <%=location_name %>
        </div>
        <div style="display: none;" class="loading_page">
            <img alt="" src="http://static.ak.fbcdn.net/images/loaders/indicator_blue_small.gif?2:111099"/>
        </div>
    </div>
    <div class="wallkit_subtitle clearfix">
        <span class="subtitle_left" name="left">Displaying all <%unless @walls.blank? %>
            <%end %>posts.</span>
        <span class="subtitle_right" name="right"><span name="seeall" class="subtitle_action" style="display: none;">
                <ul class="pagerpro">
                    <li class="current">
                        <a href="#">1</a>
                    </li>
                </ul>
            </span><span name="writeurl" class="subtitle_action left"><a href="#none" onclick="$('form_wall_place').show();">Write Something</a></span></span>
        <div id="form_wall_place" style="display:none">
            <% form_remote_tag(:url => {:controller=>'wall',:action => 'create_display_wall',:locat_id=>@location.id},:update => 'result_id') do %>
            <div>
                <textarea name="wall_text" id="wall_text" style="width:530px;">
                </textarea>
            </div>
            <div>
                <input id="wall_id" type="submit" value="Post" class="inputsubmit"/>
            </div><%end %>
        </div>
    </div>
    <br/>
    <div id="result_id">
    </div>
    <script>
        $('wall_id').click();
    </script>
    <script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php " type="text/javascript">
    </script>
    <script type="text/javascript">
        FB_RequireFeatures(["CanvasUtil"], function(){
            //You can optionally enable extra debugging logging in Facebook JavaScript client
            //FB.FBDebug.isEnabled = true;
            //FB.FBDebug.logLevel = 4;             
            FB.XdComm.Server.init("/xd_receiver.html");
            FB.CanvasClient.startTimerToSizeToContent();
        });
    </script>
