<img src="http://fundly.com/static/images/cause_logo.png?v=1a98d" id="uploaded_cause_pic" style="width:70px;" alt=""/>
<div>
  <div id="upload_cause_logo_button"><a href="#" id="add_photo_from_local">
      <b>Upload a Photo</b>
      From your computer
    </a>
  </div>
  <div id="photo_from_local" class="formRow clearfix donation_inputs photo_url" style="display:none;">
    <%= form_for @photo, :html => {:multipart => true }, :remote => true do |f| %>
      <label>Photo Image:</label>
      <div class="formValue">
        <%= f.file_field :cover_image %>
      </div>
      <div class="formValue">        
        <%= f.submit "Upload", :id => "submit_from_local", :style => "display:none" %>
      </div>      
    <% end %>
  </div>  
  <div class="or"><span>OR</span></div>
  <div id="photo_from_web" class="formRow clearfix donation_inputs photo_url" style="display:none;">
    <%= form_for @photo, :html => {:name => "photo_form",:multipart => true }, :remote => true do |f| %>
      <label>Photo Url:</label>
      <div class="formValue">
          <%= f.text_field :cover_image_url %><br/>
      </div>
      <div class="formValue">
        <%= f.submit "Upload", :id => "submit_from_web", :style => "display:none" %>
        <input type="button" value="Upload" id="upload_pic_url"/>
      </div>
    <% end %>
  </div>  
  <a href="#" id="add_photo_from_web">
    <b>Add a Photo</b>
    From a web URL
  </a>
</div>