<style>.font_standand {
line-height: 140%;
width: 600px;
direction: ltr;
font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
font-size: 11px;
text-align: left;
}
</style>
<div id="senttofriend">
</div>
<div id="submit_id">
</div>
<div id="loading" style="position:absolute;top:180px;left:350px;display:none;">
loading friend...
</div>
<%unless @images.blank? %>
<%count =0 %>
<table>
<%id =1 %>
<%for image in @images %>
<%if count==0 %>
<tr>
<%end %>
<td>
<div class="highslide-gallery">
<a href="<%=image.url_big%>" class="highslide" onclick="return hs.expand(this)"><img style="width:150px;height:100px;" src="<%=image.url_small%>" /></a>
<br/>
<span class="font_standand">
<%if image.title.include?("(www.hoangkhainhan.com)")%>
<%=image.title.split("(www.hoangkhainhan.com)")%>
<%elsif image.title.include?("(hoangkhainhan.com)")%>
<%=image.title.split("(hoangkhainhan.com)")%>
<%else%>
<%=image.title%>
<%end%>
</span>
<div class="highslide-caption">
<a onclick="hs.close(this);new Ajax.Updater('senttofriend', '/photos/send_mail?url_small=<%=image.url_small%>&url_big=<%=image.url_big%>', {asynchronous:true, evalScripts:true, onComplete:function(request){$('loading').hide();}, onLoading:function(request){$('loading').show();$('senttofriend').show();}}); return false;" href="#">Senttofriend</a>
<!--link_to_remote "Senttofriend",:loading =>"$('loading').show();",:complete=>"$('loading').hide();",:update=>"senttofriend",:url => {:controller=>"photos",:action => "loadfriend",:paramater=>image.id}-->
<a onclick="hs.close(this);new Ajax.Updater('senttofriend', '/photos/foward?url_small=<%=image.url_small%>&url_big=<%=image.url_big%>', {asynchronous:true, evalScripts:true, onComplete:function(request){$('loading').hide();}, onLoading:function(request){$('loading').show();$('senttofriend').show();}}); return false;" href="#">Foward</a>
</div>
</div>

<!--if @user_id == "619807631"
link_to_remote "delete",:update=>"#{id}",:url => {:controller=>"test",:action => "delete_image",:id=>image.id}image.id
end-->
</td>
<%count +=1 %>
<%if count ==4 %>
</tr><%count=0 %>
<%end %>
<%end %>
<%if count !=4 %>
</tr><%count =0 %>
<%end %>
<tr>
<td colspan="4" align="right">
<%=will_paginate @images, :class=>"digg_pagination",:style=>"padding-left:60px;text-align:right;font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;font-size: 12.5px;",:renderer => "RemoteLinkRenderer",:remote => {:update => "content_id"},:id =>"paginate_remote" %>
</td>
</tr>
</table>
<%end %>