<div align="left">
<fb:fbml>
<fb:subtitle>
Invite your friends to join Travel VietNam
</fb:subtitle>
<div>
<% join_button = CGI::escapeHTML "<fb:req-choice url='http://www.facebook.com/apps/application.php?id=#{@appid}' label='Join Travel VietNam'>" %>
  <fb:request-form method="POST" invite="true" type="Travel VietNam" action="http://apps.facebook.com/travelvietnam/test/test" content="Let's join Travel VietNam so you can list your pants off! <%= join_button %>">
<div>
1: Choose image:
</div>
<table>
<tr>
<td>
<%= link_to "Photo", :action => "photo" %>
<%= link_to "Gift", :action => "gift" %>
</td>
</tr>
</table>
<table>
<%count=0%> 
<%check=0%>
<%for pic in @pictures%>
<%if count ==0%>
<tr>
<%end%>
<td width="90px">
<%=image_tag("/images/famous_temple/#{pic.name_pic}")%>
<br/>
<%if check==0%>
<%=radio_button_tag("name_picture", "#{pic.id}",true)%>
<%else%>
<%=radio_button_tag("name_picture", "#{pic.id}")%>
<%end%>
<%=pic.name_loc%>
</td>
<%count +=1%>
<%check +=1%>
<%if count ==8%>
</tr>
<%count=0%>
<%end%>
<%end%>
</table>

<fb:multi-friend-selector rows="5" exclude_ids="<%= @friends2exclude.join(',') %>" showborder="false" actiontext="2. Pick who to give it to:">
</fb:request-form>
</div>
</fb:fbml>
</div>