<div class="page">
  <div class="inner_width">
    <!-- old- allows editing of a single giving level -->
    <div style="display:none" id="edit_giving_level_dialog">
      <label>Value:</label>
      <br/>
      <input type="text" id="value"/>
      <br/>
      <br/>
      <label>Description:</label>
      <br/>
      <input type="text" id="description"/>
    </div>
    <!-- new- dialog similar to cause creation -->
    <div style="display:none;" id="edit_giving_levels_dialog">
      <b style="color: red;">Important note: if you change the amount of an existing giving level or remove it, you will lose the donor counts associated with it!</b>
      <br/>
      <br/>
      <div>
        <div class="signupcause_box">
          <div id="signup_rewards_form_fields">
            <div class="error_box"></div>
          </div>
          <div class="clearfix donation_inputs enter_more_donation_dialog">
            <span>&nbsp;&nbsp;</span>
            <div class="donation_input">
              <a href="#"><b>Enter More Amounts</b></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Customer success popup (campaign) -->
    <!-- just a cookie activity_id field so we can remember where the user was -->
    <div id="cookie_activity_id" style="display: none;">
			BV5yYFzDMm
    </div>
    <!-- popup to change cause goal- note: for some reason, this MUST be here. Putting it in another template causes weird issues -->
    <div activity_id="BV5yYFzDMm" tagname="" class="profile causeprofile clearfix">
      <div style="display: none" id="pid"></div>
      <div class="left clearfix">
        <div id="social_links"></div>
        <div class="profile_title2">
          <h2>
            <div class="left">
              <%= image_tag @campaign.photos.first.cover_image.thumb('200x200#').url unless @campaign.photos.blank? %>
              <br/>
              <!--Move follow button under logo -->
              <div id="follow_div_right" class="left tabs2">
                <a style="font-size: 12px; padding: 5px; letter-spacing: normal; line-height: 100%; margin-top: 5px;" toggleclass="lgrey_btn|lgreen_btn" class="lgrey_btn cause_follow_btn" href="#"> Unfollow </a>
              </div>
            </div>
            <div id="cause_header_name">
              <%= @campaign.name %>
            </div></h2>
          <div style="clear: both"></div>
        </div>
        <!-- This is why I simply cloned everything for TFA... -->
        <div class="clearfix" id="campaign-right-column">
          <!-- LSOAP2- move to right col -->
          <div id="addthis_new_bar">
            <p style="padding-bottom: 5px;">
              <strong>SHARE:</strong>
            </p>
            <!-- AddThis Button BEGIN -->
            <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
              <a class="addthis_button_preferred_1"></a>
              <a class="addthis_button_preferred_2"></a>
              <a class="addthis_button_preferred_3"></a>
              <a class="addthis_button_preferred_4"></a>
              <a class="addthis_button_compact"></a>
              <a class="addthis_counter addthis_bubble_style"></a>
            </div>
            <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=nguyenvietnamkhanh"></script>
            <!-- AddThis Button END -->
          </div>
          <div class="donation_stats right">
            <!-- <ul id="fundly-share" class="clearfix">
						<li><a href="#" class="newbtn joinbtn">Join</a></li>
						<li><a href="#" class="newbtn givebtn">Give</a></li>
						<li><a href="#" class="newbtn sharebtn">Share</a></li>
						</ul> -->
            <div style="height: 20px; padding-top: 5px;">
              <p style="padding-top: 5px;" class="left">
                <strong>Supporters you may know</strong>
              </p>
            </div>
            <br/>
            <div class="square_imageblocks clearfix">
              <a original-title="khan nguyen" class="tooltip first" href="/user/khannguyen"> <img src="http://pic.fundly.com/q_BOOAmQoHXk.jpeg"/> </a>
            </div>
            <br/>
            <div style="border-bottom: none;" class="cause_counts edit_cause_goal_cnt">
              <div class="clearfix" id="campaign_donation_donor_count">
                <div style="margin-right: 50px" class="left">
                  <b>1</b>
                  supporter
                  <br/>
                </div>
                <div class="left">
                  <b>0</b>
                  donors
                  <br/>
                </div>
              </div>
              <br/>
              <div id="campaign_donation_total">
                <b>$0</b>
              </div>
              <div id="campaign_donation_goal">
                <a activity_id="BV5yYFzDMm" edit_cause_goal="true" href="#">DONATED OF $<span class="edit_cause_goal_num">100,000</span> GOAL</a>
              </div>
              <div style="display: none;" id="percent_raised">
								0
              </div>
              <div class="red_grey_percent">
                <span style="width:0%"></span>
              </div>
              <br/>
              <a class="lgreen_btn neon_green tabs2_external_link donate_btn" href="/donate/BV5yYFzDMm">Donate
              </a>
            </div>
            <div class="square_imageblocks clearfix">
              <h3>Fundraisers for this campaign</h3>
              <br/>
              <a class="tooltip first" href="/user/khannguyen">
                <img src="http://pic.fundly.com/q_BOOAmQoHXk.jpeg"/>
              </a>
            </div>
            <br/>
            <!-- Hide this link if its the owner of a personal page -->
            <div>
              <a class="help-raise" href="/signup/helper/BV5yMggrfk">Help Raise Money</a>
            </div>
          </div>
        </div>
        <div id="cause_profile_tabsbody" class="tabs_body">
          <!-- transplanted from habitat LSOAP2 -->
          <div style="display: none" id="habitat_media_upload">
            <a id="habitat_media_back_link">Back to Fundraising Page</a>
            <br/>
            <br/>
            <!-- Editable section of the the Photo Tab -->
            <div id="media_edit_section" style="display: block;">
              <div class="clearfix">
                <div id="upload_video">
                  <div class="cause_media_empty right">
                    <div>
                      <div class="search_box youtube_search_box">
                        <input type="text" value="Search &amp; Add Video" class="inputtext watermark" name="q"/>
                        <a href="#" class="form_submit"></a>
                      </div>
                      <b>OR</b>&nbsp;&nbsp;<a target="_blank" href="http://upload.youtube.com/my_videos_upload">Upload video to youtube</a>
                    </div>
                  </div>
                </div>
                <div activity_id="BV5yYFzDMm" id="upload_cause_pic_button" class="right" style="margin: 15px 0 15px 15px">
                  <a class="btn med_btn dblue_btn" href="#"><span>Upload Photos</span></a>
                </div>
                <div activity_id="BV5yYFzDMm" id="upload_cause_logo_button" class="right" style="margin: 15px 0 15px 15px">
                  <a class="btn med_btn dblue_btn" href="#"><span>Upload Logo</span></a>
                </div>
              </div>
            </div>
            <!-- Video and Photos for the Photo Tab -->
            <div class="cause_media clearfix">
              <div class="left" id="videos_div"></div>
              <div class="right cause_media2 clearfix" id="photo_photo_list"></div>
            </div>
          </div>
          <div class="campaign_page_tab selected">            
            <br/>
            <div class="cause_media clearfix">
              <% if !current_user.blank? and @campaign.user_id.eql? current_user.id %>
                <div style="margin-bottom: 5px;">
                  <a id="habitat_media_upload_link">Upload more media</a>
                </div>
              <% end %>
              <!-- Put the primary video here -->              
              <div class="left" id="main_video">
                <div class="cause_media_empty right">
                  <div>
                    <div class="search_box youtube_search_box">
                      <input type="text" autocomplete="off" value="Search &amp; Add Video" watermark="Search &amp; Add Video" class="inputtext watermark" name="q"/>
                      <a href="#" class="form_submit"></a>
                    </div>
                    <b>OR</b>&nbsp;<a href="http://upload.youtube.com/my_videos_upload">Upload video to youtube</a>
                  </div>
                </div>
              </div>
              <!-- Put the first six images here -->
              <div class="right clearfix" id="main_photo_list">
                <% i = 0 %>
                <% unless @campaign.photos.blank? %>
                  <% @campaign.photos.first(6).each do |photo| %>
                    <div class="empty_photo_box">
                      <a href="#" id="image_<%= i %>" style="background:url('<%= photo.cover_image.thumb('125x90#').url %>')"></a>
                    </div>
                    <% i += 1 %>
                  <% end %>
                <% end %>
                <% if i < 6 %>
                  <% for j in i...6 %>
                    <div class="empty_photo_box">
                      <a class="cause_media_empty <%= 'cause_media_empty_photo' if !current_user.blank? and @campaign.user_id.eql? current_user.id %>" href="#" id="image_<%= j %>"></a>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
            <%= render 'upload_media' %>
            <div class="dash_section" id="updates_div_habitat">                           
              <br/>              
              <%= render :partial => "activities/index",
                :locals  => { :activities => current_user.wall(:profile, :for => current_subject).
                  page(params[:page]),
                :owner => current_campaign.user } %>
            </div>            
            <div class="clearfix dash_section_cnt"></div>
            <br/>
            <br/>
            <div class="dash_section">                            
              <fb:comments href="<%= REDIRECT_URI %><%= current_campaign.url %>" num_posts="2" width="670"></fb:comments>
            </div>
          </div>
          <div class="campaign_page_tab"></div>
          <div class="campaign_page_tab">
            <!-- Editable section of the the Photo Tab -->
            <div id="media_edit_section">
              <div class="clearfix">
                <div id="upload_video"></div>
                <div id="upload_cause_pic_button" class="left" style="margin-left: 15px">
                  <a class="btn med_btn dblue_btn" href="#"><span>Upload Photos</span></a>
                </div>
                <div id="upload_cause_logo_button" class="left">
                  <a class="btn med_btn dblue_btn" href="#"><span>Upload Logo</span></a>
                </div>
              </div>
              <br/>
              <hr/>
              <br/>
            </div>
            <!-- Video and Photos for the Photo Tab -->
            <div class="cause_media clearfix">
              <div class="left" id="videos_div"></div>
              <div class="right cause_media2 clearfix" id="photo_photo_list"></div>
            </div>
            <br/>
          </div>
          <div class="campaign_page_tab">
            <div class="tinymce_cnt">
              <div class="tinymce_cnt2">
                <textarea class="tinymce" id="updates_tab_new_update_body" style="display: none;"></textarea>
                <span id="updates_tab_new_update_body_parent" class="mceEditor defaultSkin">
                  <table cellspacing="0" cellpadding="0" id="updates_tab_new_update_body_tbl" class="mceLayout" style="width: 100%; height: 100px;">
                    <tbody>
                      <tr class="mceFirst">
                        <td class="mceToolbar mceLeft mceFirst mceLast"><a title="Jump to tool buttons - Alt+Q, Jump to editor - Alt-Z, Jump to element path - Alt-X" accesskey="q" href="#"><!-- IE --></a>
                          <table cellspacing="0" cellpadding="0" class="mceToolbar mceToolbarRow1 Enabled" id="updates_tab_new_update_body_toolbar1">
                            <tbody>
                              <tr>
                                <td class="mceToolbarStart mceToolbarStartButton mceFirst"><span><!-- IE --></span></td><td><a title="Bold (Ctrl+B)" onclick="return false;" onmousedown="return false;" class="mceButton mceButtonEnabled mce_bold" href="javascript:;" id="updates_tab_new_update_body_bold"><span class="mceIcon mce_bold"></span></a></td><td><a title="Italic (Ctrl+I)" onclick="return false;" onmousedown="return false;" class="mceButton mceButtonEnabled mce_italic" href="javascript:;" id="updates_tab_new_update_body_italic"><span class="mceIcon mce_italic"></span></a></td><td><a title="Underline (Ctrl+U)" onclick="return false;" onmousedown="return false;" class="mceButton mceButtonEnabled mce_underline" href="javascript:;" id="updates_tab_new_update_body_underline"><span class="mceIcon mce_underline"></span></a></td><td><a title="Insert/edit link" onclick="return false;" onmousedown="return false;" class="mceButton mce_link mceButtonDisabled" href="javascript:;" id="updates_tab_new_update_body_link"><span class="mceIcon mce_link"></span></a></td><td><span class="mceSeparator"></span></td><td><a title="Unordered list" onclick="return false;" onmousedown="return false;" class="mceButton mceButtonEnabled mce_bullist" href="javascript:;" id="updates_tab_new_update_body_bullist"><span class="mceIcon mce_bullist"></span></a></td><td><a title="Ordered list" onclick="return false;" onmousedown="return false;" class="mceButton mceButtonEnabled mce_numlist" href="javascript:;" id="updates_tab_new_update_body_numlist"><span class="mceIcon mce_numlist"></span></a></td><td class="mceToolbarEnd mceToolbarEndButton mceLast"><span><!-- IE --></span></td>
                              </tr>
                            </tbody>
                          </table><a onfocus="tinyMCE.getInstanceById('updates_tab_new_update_body').focus();" title="Jump to tool buttons - Alt+Q, Jump to editor - Alt-Z, Jump to element path - Alt-X" accesskey="z" href="#"><!-- IE --></a></td>
                      </tr>
                      <tr class="mceLast">
                        <td class="mceIframeContainer mceFirst mceLast"><iframe frameborder="0" id="updates_tab_new_update_body_ifr" src="javascript:&quot;&quot;" style="width: 100%; height: 100px;"></iframe></td>
                      </tr>
                    </tbody>
                  </table>
                </span>
                <div class="clearfix btns_holder">
                  <a class="right btn med_btn publish_update" href="#"><span>Publish Update</span></a>
                </div>
              </div>
            </div>
            <div class="line_container">
              <div class="empty_stream">
								No one has shared any updates, yet.
              </div>
            </div>
            <div class="hide">
              <div id="dialog_stream">
                <div class="error_msg hide"></div>
                <div style="display:none" class="dialog_additional_block clearfix"></div>
                <div class="dialog_input_container">
                  <img src="http://pic.fundly.com/q_BOOAmQoHXk.jpeg "/>
                  <div>
                    <div style="display:none" class="stars big_stars clearfix">
                      <a href="#" index="5"></a>
                      <a href="#" index="6"></a>
                      <a href="#" index="7"></a>
                      <a href="#" index="8"></a>
                      <a href="#" index="9"></a>
                    </div>
                    <!--div class="dialog_input"><textarea class="inputtext watermark"></textarea></div-->
                    <div class="dialog_input overlay_wrapper">
                      <label>Watermark Text</label>
                      <textarea class="inputtext overlayable" autocorrect="off" autocomplete="on" autocapitalize="off"></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix hide" id="dialog_facebook_publish">
                <div class="publisher_to right">
                  <div class="clearfix">
                    <span>Cc:</span>
                    <span class="icon"> <i class="fb"></i>
                      <input type="checkbox" checked="" class="facebook_connect"/>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="campaign_page_tab" tab="stats">
            <div class="dash_section">
              <div class="dash_section_head">
                <div class="clearfix">
                  <div class="cause_box_summary clearfix">
                    <div class="edit_cause_goal_cnt">
                      <b>$<span class="edit_cause_goal_num">100,000</span></b>GOAL
											· <a activity_id="BV5yYFzDMm" edit_cause_goal="true" href="#">Edit</a>
                    </div>
                    <div>
                      <b>0%</b>FUNDED
                    </div>
                    <div>
                      <b>$0</b>DONATED
                    </div>
                  </div>
                </div>
              </div>
              <div class="dash_section_body">
                <div class="dash_item">
                  <div class="icon">
                    <i class="fb_fav"></i>
										0 people shared your campaign page on Facebook
                  </div>
                </div>
                <div class="dash_item">
                  <div class="icon">
                    <i class="twitter_fav"></i>
										0 people shared your campaign page on Twitter
                  </div>
                </div>
                <div class="dash_item">
                  <div class="icon">
                    <i class="email"></i>
										0 people shared your campaign page on other sites
                  </div>
                </div>
                <div class="dash_item">
                  <div class="icon">
                    <i class="dollar"></i>
										1 person viewed your campaign page
                  </div>
                </div>
              </div>
            </div>
            <div class="dash_section">
              <div class="dash_section_head">
                <div class="clearfix">
                  <span class="left">1 FOLLOWER</span>
                </div>
              </div>
              <div class="dash_section_body">
                <div class="square_imageblocks clearfix">
                  <a class="tooltip first" href="/user/khannguyen">
                    <img src="http://pic.fundly.com/q_BOOAmQoHXk.jpeg"/>
                  </a>
                </div>
              </div>
            </div>
            <div class="clearfix dash_section_cnt"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>