<div class="innerctr">
  <div class="leftctr-1">
    <h2><span class="imagegavtar">        
        <%= image_tag avatar_url %>
      </span>
      <%= @campaign.name %>
    </h2>
    <div class="clear"></div>
    <div class="videoctr">
      <div class="videobox"><a><img src="/assets/videoimage.jpg"/></a></div>
      <div class="vthumbnail">
        <div class="right clearfix" id="main_photo_list">
          <% i = 0 %>
          <% unless @campaign.photos.blank? %>
            <% @campaign.photos.first(6).each do |photo| %>
              <div class="empty_photo_box thumb-1">
                <a href="#" id="image_<%= i %>" style="background:url('<%= photo.cover_image.thumb('125x90#').url %>')"></a>
              </div>
              <% i += 1 %>
            <% end %>
          <% end %>
          <% if i < 6 %>
            <% for j in i...6 %>
              <div class="empty_photo_box thumb-1">
                <a class="cause_media_empty <%= 'cause_media_empty_photo' if !current_user.blank? and @campaign.user_id.eql? current_user.id %>" href="#" id="image_<%= j %>"></a>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="content-left">
      <div class="verify"><img src="/assets/verify.jpg"/></div>
      <div class="verifydata">
        School CUNY- College of Staten Island<br/>
        Major-Physical Therapy<br/>
        GPA:3.8<br/>
        Class of: 2014
      </div>
      <div class="clear"></div>
      <h3>About Sally Student</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo non est porta blandit. Suspendisse sed venenatis velit. Duis ac arcu sit amet urna ullamcorper mattis ac sed mauris. Duis in lacus sed nulla vehicula faucibus. Sed turpis tortor, blandit ut ultrices vitae, vehicula ut ipsum. Nam fermentum tempus quam, at aliquam odio facilisis eget. </p>
      <h3>Why I need your Support</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo non est porta blandit. Suspendisse sed venenatis velit. Duis ac arcu sit amet urna ullamcorper mattis ac sed mauris. Duis in lacus sed nulla vehicula faucibus. Sed turpis tortor, blandit ut ultrices vitae, vehicula ut ipsum. Nam fermentum tempus quam, at aliquam odio facilisis eget. </p>
      <h3>What Its For</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo non est porta blandit. Suspendisse sed venenatis velit. Duis ac arcu sit amet urna ullamcorper mattis ac sed mauris. Duis in lacus sed nulla vehicula faucibus. Sed turpis tortor, blandit ut ultrices vitae, vehicula ut ipsum. Nam fermentum tempus quam, at aliquam odio facilisis eget. </p>
    </div>

    <div class="sponsers"><center><img src="/assets/ads.jpg"/></center></div>
    <div class="clear"></div>
    <h3>My Updates</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis justo non est porta blandit. Suspendisse sed venenatis velit. Duis ac arcu sit amet urna ullamcorper mattis ac sed mauris. Duis in lacus sed nulla vehicula faucibus. Sed turpis tortor, blandit ut ultrices vitae, vehicula ut ipsum. Nam fermentum tempus quam, at aliquam odio facilisis eget. </p>
  </div>
  <div class="sidebar-2">
    <!--<center><a href="#"><img src="/assets/joinbtn.jpg"/></a></center>-->

    <a toggle_text="Join|Leave" style="font-size: 12px; padding: 5px; letter-spacing: normal; line-height: 100%; margin-top: 5px;" toggleclass="lgrey_btn|lgreen_btn" class="lgreen_btn cause_follow_btn" href="#">

      Join

    </a>
    <strong style="padding: 10px 0 0 5px;font-size:12px;" id="follow_btn_text">

      and start following this campaign.

    </strong>
    <div class="clear"></div>
  </div>
  <div class="sidebar-3">
    <div id="addthis_new_bar">
      <p style="padding-bottom: 5px;"><strong>SHARE:</strong></p>
      <div class="addthis_toolbox addthis_default_style addthis_32x32_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>        
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
      </div>
      <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=nguyenvietnamkhanh"></script>
    </div>
    <div class="donation_stats right">
      <!-- <ul id="fundly-share" class="clearfix">
      <li><a href="#" class="newbtn joinbtn">Join</a></li>
      <li><a href="#" class="newbtn givebtn">Give</a></li>
      <li><a href="#" class="newbtn sharebtn">Share</a></li>
      </ul> -->
      <div style="height: 20px; padding-top: 5px;">
        <p style="padding-top: 5px;" class="left"><strong>Supporters you may know</strong></p>
      </div>
      <br/>
      <div class="square_imageblocks clearfix">

        <a original-title="Andy Bader" class="tooltip first" href="/user/andybader">
          <img src="http://pic.fundly.com/q_9rysvjac1Q.jpeg"/>
        </a>

        <a original-title="Cindy Clark-Alley" class="tooltip" href="/user/cindyclarkalley">
          <img src="http://graph.facebook.com/1682619177/picture?type=square"/>
        </a>

        <a original-title="Renee McCown" class="tooltip" href="/user/reneemccown">
          <img src="http://graph.facebook.com/1442109332/picture?type=square"/>
        </a>

        <a original-title="Yvonne Hubbard" class="tooltip" href="/user/yvonnehubbard">
          <img src="http://pic.fundly.com/q_AriQoyUsL2.jpeg"/>
        </a>

        <a original-title="Rick Jeffries" class="tooltip" href="/user/rickjeffries">
          <img src="http://graph.facebook.com/523720398/picture?type=square"/>
        </a>

        <a original-title="Jessica Kennedy" class="tooltip first" href="/user/jessicakennedy">
          <img src="http://graph.facebook.com/42201563/picture?type=square"/>
        </a>

        <a original-title="Laura Lemmon" class="tooltip" href="/user/lauralemmon">
          <img src="http://graph.facebook.com/1373056239/picture?type=square"/>
        </a>

        <a original-title="Dianna Bailey-Miller" class="tooltip" href="/user/diannabaileymiller">
          <img src="http://graph.facebook.com/1062894053/picture?type=square"/>
        </a>

        <a original-title="Megan Richey" class="tooltip" href="/user/meganrichey">
          <img src="http://graph.facebook.com/504941391/picture?type=square"/>
        </a>

        <a original-title="Maura Conway" class="tooltip" href="/user/mauraconway">
          <img src="http://graph.facebook.com/573456681/picture?type=square"/>
        </a>

        <a original-title="PATTI DUNCAN" class="tooltip first" href="/user/pattiduncan">
          <img src="http://graph.facebook.com/1314799133/picture?type=square"/>
        </a>

        <a original-title="Malyka Knapp-Smith" class="tooltip" href="/user/malykaknappsmith">
          <img src="http://graph.facebook.com/1313295294/picture?type=square"/>
        </a>

        <a original-title="Sandra Wolfe" class="tooltip" href="/user/sandrawolfe">
          <img src="http://graph.facebook.com/819985653/picture?type=square"/>
        </a>

        <a original-title="Bryan Parker" class="tooltip" href="/user/bryanparker">
          <img src="http://graph.facebook.com/773872145/picture?type=square"/>
        </a>

        <a original-title="Candi Bridgette Duran" class="tooltip" href="/user/candibridgetteduran">
          <img src="http://graph.facebook.com/1712156437/picture?type=square"/>
        </a>

        <a original-title="Kathryn Beardsley" class="tooltip first" href="/user/kathrynbeardsley">
          <img src="http://graph.facebook.com/25801562/picture?type=square"/>
        </a>

        <a original-title="Beverly Lane" class="tooltip" href="/user/beverlylane">
          <img src="http://graph.facebook.com/1559208729/picture?type=square"/>
        </a>

        <a original-title="Simone Serafini" class="tooltip" href="/user/simoneserafini">
          <img src="http://pic.fundly.com/q_AdNGCKCQiG.jpeg"/>
        </a>

        <a original-title="Natalia Pena" class="tooltip" href="/user/nataliapena">
          <img src="http://graph.facebook.com/1230788169/picture?type=square"/>
        </a>

        <a original-title="Clarence Litton" class="tooltip" href="/user/clarencelitton">
          <img src="http://graph.facebook.com/100001417710388/picture?type=square"/>
        </a>

        <a original-title="Kelli Caseman" class="tooltip first" href="/user/kellicaseman">
          <img src="http://graph.facebook.com/1429256728/picture?type=square"/>
        </a>

        <a original-title="Sangita Patel" class="tooltip" href="/user/sangitapatel1">
          <img src="http://pic.fundly.com/q_8iqOqsOKVE.jpeg"/>
        </a>

        <a original-title="Amy Atkinson" class="tooltip" href="/user/amyatkinson">
          <img src="http://pic.fundly.com/q_ADdokYSR4S.jpeg"/>
        </a>

        <a original-title="Starling Hall" class="tooltip" href="/user/starlinghall2">
          <img src="http://pic.fundly.com/q_8P0afT93tw.jpeg"/>
        </a>

        <a original-title="Bob Runnion" class="tooltip" href="/user/bobrunnion">
          <img src="http://graph.facebook.com/1290253139/picture?type=square"/>
        </a>

        <a original-title="Jacques Mallah" class="tooltip first" href="/user/jacquesmallah">
          <img src="http://graph.facebook.com/1432179665/picture?type=square"/>
        </a>

        <a original-title="Dave Boyce" class="tooltip" href="/user/daveboyce19">
          <img src="http://graph.facebook.com/767918221/picture?type=square"/>
        </a>
        <div class="clear"></div>
      </div>
      <br/>
      <div style="border-bottom: none;" class="cause_counts edit_cause_goal_cnt">

        <div class="clearfix" id="campaign_donation_donor_count">
          <div style="margin-right: 50px;line-height:32px;" class="left">
            <b>55</b>
            supporters
            <br/>

          </div>

          <div style="line-height:32px;" class="left">
            <b>50</b>
            donors
            <br/>

          </div>
          <div class="clear"></div>
        </div>
        <br/>
        <div style="line-height:32px;" id="campaign_donation_total">
          <b>$2,025</b>
        </div>
        <div class="clear"></div>

        <div style="line-height:32px;" id="campaign_donation_goal">

          <span style="font-weight: bold;">DONATED OF $<span class="edit_cause_goal_num">1,750</span> GOAL</span>

        </div>
        <div style="display: none;" id="percent_raised">100</div>

        <div class="red_grey_percent">
          <span style="width:100%"></span>
        </div>
        <a tab="donate" class="joinbtn" href="/donate/9n2ngaj3wG">Donate</a>
        <br/>
      </div>
      <div class="clear"></div>

      <fieldset class="linking">
        <legend class="legendtext">&nbsp;&nbsp;OR&nbsp;&nbsp;</legend>

        <p style="font-size:12px;text-align:center;"><strong>choose a Giving Level:</strong></p>
        <ul class="link">

          <li>
            <a href="/donate/9n2ngaj3wG?amt=500">
              <b>$500 - Platinum</b>
              <div class="icon">
                <i class="fundly_sm"></i>
                <span>0 Donors</span>
              </div>
            </a>
          </li>

          <li>
            <a href="/donate/9n2ngaj3wG?amt=250">
              <b>$250 - Diamond</b>
              <div class="icon">
                <i class="fundly_sm"></i>
                <span>2 Donors</span>
              </div>
            </a>
          </li>

          <li>
            <a href="/donate/9n2ngaj3wG?amt=100">
              <b>$100 - Gold</b>
              <div class="icon">
                <i class="fundly_sm"></i>
                <span>6 Donors</span>
              </div>
            </a>
          </li>

          <li>
            <a href="/donate/9n2ngaj3wG?amt=50">
              <b>$50 - Silver</b>
              <div class="icon">
                <i class="fundly_sm"></i>
                <span>12 Donors</span>
              </div>
            </a>
          </li>

          <li>
            <a href="/donate/9n2ngaj3wG?amt=25">
              <b>$25 - Bronze</b>
              <div class="icon">
                <i class="fundly_sm"></i>
                <span>27 Donors</span>
              </div>
            </a>
          </li>

          <li>
            <a href="/donate/9n2ngaj3wG?amt=5">
              <b>$5 - Every little bit helps!</b>
              <div class="icon">
                <i class="fundly_sm"></i>
                <span>5 Donors</span>
              </div>
            </a>
          </li>

        </ul>
      </fieldset>



      <div class="square_imageblocks clearfix">
        <h3>Fundraisers for this campaign</h3>
        <br/>
        <a original-title="Starling Hall" class="tooltip first" href="/user/starlinghall2">
          <img src="http://pic.fundly.com/q_8P0afT93tw.jpeg"/>
        </a>
        <a original-title="Rick Jeffries" class="tooltip" href="/user/rickojeffries">
          <img src="http://pic.fundly.com/q_9n1VrBzWwC.jpeg"/>
        </a>
      </div>
      <br/>

      <!-- Hide this link if its the owner of a personal page -->

      <div><a class="help-raise" href="/signup/helper/9n2nOWvVnk">Help Raise Money</a></div>
    </div>




    <!--<img src="/assets/sidebar.jpg"/>-->

  </div>
  <div class="clear"></div>

</div>