<div class="page">
	<div class="inner_width">
		<iframe style="display: none;" id="load_campaign_pixel_pg" src=""></iframe>
		<div class="steps">
			<ul class="steps_header clearfix tabs2">
				<li class="steps_header1">
					<a class="selected" id="campaign_info" href="#">1. Fundraising Page Info</a>
				</li>
				<li class="steps_header2">
					<a id="campaign_rewards" href="#" class="" href="#">2. Giving Levels</a>
				</li>
				<li class="steps_header3">
					<a tab="campaign_logo" href="#" class="">3. Upload Media</a>
				</li>
			</ul>
			<div class="tabs_body">				
				<div class="step selected" id="cause_info_tab">
					<div class="step_cnt">
						<div class="step_header">
							<b>Your Organization</b>
							This information will help others to find your cause on Students Angel
						</div>
						<%= form_for @campaign, :html => {:name =>"campaign_form"} do |f| %>
						<div>
							<div class="signupcause_box">
								<form id="signup_cause_form_fields">
									<div class="formRow clearfix cause_name">
										<label>Organization Name<span>*</span>:</label>
										<div class="formValue">
											<%= f.text_field :name, :class => "inputtext" %>											
										</div>
									</div>
									<div class="formRow clearfix cause_nickname">
										<label>Campaign Page URL<span>*</span>:</label>
										<div class="formValue clearfix">
											<div style="width: 160px;; float: left; padding-top: 5px;">
												www.studentsangel.com/
											</div>
											<%= f.text_field :url, :class => "inputtext", :style => "width: 170px; float: left;" %>											
										</div>
									</div>
									<div class="formRow clearfix">
										<label>Cause Type<span>*</span>:</label>
										<div class="formValue cause_type clearfix">
											<%= f.collection_select :type_campaign, Campaign.campaign_type_value, :downcase, :titleize , {:prompt => '- Please select -'}%>
										</div>
									</div>
									<div class="formRow clearfix donation_inputs cause_website">
										<label>Cause Website:</label>
										<div class="formValue clearfix">
											<div style="width: 45px; float: left; padding-top: 5px;">
												http://
											</div>
											<%= f.text_field :website, :class => "inputtext", :style => "width: 285px; float: left;" %>											
										</div>
									</div>
									<div class="formRow clearfix donation_inputs cause_facebook_page">
										<label>Cause Facebook Page:</label>
										<div class="formValue clearfix">
											<div style="width: 125px; float: left; padding-top: 5px;">
												www.facebook.com/
											</div>
											<%= f.text_field :facebook_page, :class => "inputtext", :style => "width: 205px; float: left;" %>											
										</div>
									</div>
									<div class="formRow clearfix donation_inputs cause_twitter_username">
										<label>Cause Twitter Username:</label>
										<div class="formValue clearfix">
											<div style="width: 20px; float: left; padding-top: 5px;">
												@
											</div>
											<%= f.text_field :twitter_username, :class => "inputtext", :style => "width: 310px; float: left;" %>											
										</div>
									</div>
									<div class="formRow clearfix org_address">
										<label>Organization address<span>*</span>:</label>
										<div class="formValue">
											<%= f.text_field :address, :class => "inputtext" %>
										</div>
									</div>
									<div class="formRow clearfix org_zip">
										<label>Organization zip code<span>*</span>:</label>
										<div class="formValue">
											<%= f.text_field :zip_code, :class => "inputtext" %>											
										</div>
									</div>
									<div class="formRow clearfix org_phone">
										<label>Phone<span>*</span>:</label>
										<div class="formValue">
											<%= f.text_field :phone, :class => "inputtext" %>
										</div>
									</div>																		
									<div class="error_box"></div>
								</form>
							</div>
						</div>
						<% end %>
					</div>
					<div class="step_submit clearfix">
						<a class="btn dblue_btn create_cause" id="submit_campaign_form"><span>Save &amp; Continue</span></a>
						<img style="float:right;" class="lgreen_btn_ajax" src="http://fundly.com/static/images/ajax-loader-green.gif?v=9ed2c" alt=""/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>