<% content_for :javascripts do %>
  <%= javascript_include_tag "jquery.remotipart" %>
<% end %>

<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "facebox" %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag "facebox" %>
<% end %>


<div class="page">
	<div class="inner_width">
		<div class="dashhome_content clearfix">
			<%= render '/shared/head_campaign' %>
			<div id="dashhome_tabsbody" class="left tabs_body">
				<div class="selected">
					<div class="clearfix" id="home_dash_userblocks">
						<div class="square_imageblocks_large clearfix">
							<span>SUPPORTERS</span>
							<hr/>
							<a class="large_imagelink tooltip first" href="#"> <img alt="" src="https://graph.facebook.com/<%= current_campaign.user.facebook_id %>/picture"/> </a>
						</div>
						<div class="square_imageblocks_large clearfix">
							<span>DONORS</span>
							<hr/>
						</div>
						<div class="square_imageblocks_large clearfix">
							<span>FUNDRAISERS</span>
							<hr/>
							<a class="large_imagelink tooltip first" href="#">
                <img src="https://graph.facebook.com/<%= current_campaign.user.facebook_id %>/picture" alt=""/>
              </a>
						</div>
					</div>
				</div>
				<div>
					<div class="dash_section">
						<div class="dash_section_head">
							<div class="clearfix">
								<span class="left">CONTACTS (345,876)</span>
								<a class="right" href="#">See All</a>
							</div>
						</div>
						<div class="dash_section_body">
							<table class="contacts">
								<tbody>
									<tr>
										<th>Name</th>
										<th>Email</th>
										<th>Amt Raised($)</th>
										<th></th>
									</tr>
									<tr>
										<td class="empty" rowspan="26" colspan="3">No records returned!</td>
										<td>a</td>
									</tr>
									<tr>
										<td>b</td>
									</tr>
									<tr>
										<td>c</td>
									</tr>
									<tr>
										<td>d</td>
									</tr>
									<tr>
										<td>e</td>
									</tr>
									<tr>
										<td>f</td>
									</tr>
									<tr>
										<td>g</td>
									</tr>
									<tr>
										<td>h</td>
									</tr>
									<tr>
										<td>i</td>
									</tr>
									<tr>
										<td>j</td>
									</tr>
									<tr>
										<td>k</td>
									</tr>
									<tr>
										<td>l</td>
									</tr>
									<tr>
										<td>m</td>
									</tr>
									<tr>
										<td>n</td>
									</tr>
									<tr>
										<td>o</td>
									</tr>
									<tr>
										<td>p</td>
									</tr>
									<tr>
										<td>q</td>
									</tr>
									<tr>
										<td>r</td>
									</tr>
									<tr>
										<td>s</td>
									</tr>
									<tr>
										<td>t</td>
									</tr>
									<tr>
										<td>u</td>
									</tr>
									<tr>
										<td>v</td>
									</tr>
									<tr>
										<td>w</td>
									</tr>
									<tr>
										<td>x</td>
									</tr>
									<tr>
										<td>y</td>
									</tr>
									<tr>
										<td>z</td>
									</tr>
								</tbody>
							</table>
							<div class="refresh_table">
								<a href="#"></a>
							</div>
						</div>
					</div>
					<div class="dash_section">
						<div class="dash_section_head">
							<div>
								INVITE BY EMAIL
							</div>
						</div>
						<div class="dash_section_body dash_invsh">
							Invite your contacts (Gmail, AOL, Hotmail, Yahoo, etc.)
							<div class="formRow clearfix">
								<label>Email</label>
								<div class="formValue">
									<input type="text" class="inputtext"/>
								</div>
							</div>
							<div class="formRow clearfix">
								<label>Password</label>
								<div class="formValue">
									<input type="password" class="inputtext"/>
								</div>
							</div>
							<div class="clearfix">
								<a class="btn dblue_btn right" href="#"><span>Retrieve Contacts</span></a>
							</div>
							or invite email addresses:
              <textarea class="inputtext watermark">Type a list of invitee email addresses.</textarea>
							<div class="clearfix">
								<a class="btn dblue_btn right" href="#"><span>Send Invites</span></a>
							</div>
						</div>
					</div>
					<div class="dash_section">
						<div class="dash_section_head">
							<div>
								SHARE THIS LINK ON FACEBOOK
							</div>
						</div>
						<div class="dash_section_body dash_invsh dash_invsh2">
							<input type="text" value="http://fundly.com/ngon" class="inputtext"/>
							<textarea class="inputtext">Help ngon out by becoming a volunteer on our new page on Studentsangel.com! http://studentsangel.com/ngon</textarea>
							<!-- div class="clearfix">
							<span class="right">40 characters remaining</span>
							</div -->
							<div class="clearfix">
								<a class="btn dblue_btn right" href="#"><span>Share on Facebook</span></a>
								<!-- a href="#" class="btn dblue_btn right"><span>Tweet on Twitter</span></a -->
							</div>
						</div>
						<div class="dash_invsh dash_section_copy">
							<b>or use this link with friends:</b>
							<input type="text" value="http://fundly.com/ngon" class="inputtext"/>
							<a class="btn dblue_btn" href="#"></a>
						</div>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
						<br/>
					</div>
				</div>
			</div>
			<div class="right">
				<%= render '/shared/campaign_menu' %>
			</div>
		</div>
	</div>
	<div style="clear:both" class="footer">
		<div class="footer_bottom clearfix">
			<div class="right">
				<a href="/contact-us">Contact Us</a>
				&nbsp;|&nbsp; <a href="/terms-of-use">Terms of Use</a>
				&nbsp;|&nbsp; <a href="/privacy-policy">Privacy Policy</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a id="report_inappropriate_content" activity_id="BV5yYFzDMm" href="#">Report Inappropriate Content</a>
			</div>
			<div class="left">
				<small class="grey">Copyright (c) 2011 Students Angel All rights reserved</small>
			</div>
		</div>
	</div>
	<div class="home_sub_footer">
		<br/>
		<b>Easy Fundraising Online with Students Angel</b>
		<br/>
		<br/>
		<p>
			Students Angel enables causes to simply create, promote, and manage effective online fundraising campaigns. By using Students Angel to fundraise for your cause, you can raise money online fast and easy by using our proven social media fundraising tools. Engage with, and accept donations from your donors and gain new ones via Facebook, Twitter, LinkedIn, and other social fundraising channels when using our highly effective <a href="http://www.fundly.com" target="_blank">online fundraising</a> platform that will allow your supporters to help fundraise on behalf of your cause. To learn more and create your free account, visit: <a href="http://www.fundly.com" target="_blank">fundly.com.</a>
		</p>
	</div>
</div>
