<html>
	<head>		
		<%= javascript_include_tag "prototype" %>
		<%=stylesheet_link_tag 'style' %>
	</head>
<body>
<table>
	<%count=0%>
	<%id=1%>
<%for image in @images %>
<%if count==0 %>
<tr>
    <%end %>
    <td style="width:50px;" id="#{id}">        
            <img src="<%=image.url_small%>" />        
	<br/>
		<%=link_to_remote "delete",:update=>"#{id}",:url => {:controller=>"test",:action => "delete_image",:id=>image.id} %><%=image.id%>
    </td>
	
	<%id+=1%>
    <%count +=1 %>
    <%if count ==5 %>
</tr><%count=0 %>

<%end %>
<%end %>
<%if count !=5 %>
</tr>
<%count =0%>
<%end %>
</table>

</body>
</html>