<html>
  <head>
    <%= javascript_include_tag 'jquery.min.js' %>
    <%= javascript_include_tag 'jquery.Jcrop.min.js' %>
    <%= stylesheet_link_tag 'jquery.Jcrop' %>
    <%= stylesheet_link_tag 'demos' %>   
  </head>
  <body>
    <h1>Jcrop Test</h1>
    <%=image_tag "/images/sago.jpg",:id=>"cropbox"%>
    
    <%form_tag "/jcrop/crop_image",:onsubmit=>"return checkCoords();" do%>
      <%=hidden_field_tag "x",:id=>"x" %>
      <%=hidden_field_tag "y",:id=>"y" %>
      <%=hidden_field_tag "w",:id=>"w" %>
      <%=hidden_field_tag "h",:id=>"h" %>
      <%=submit_tag "Crop Image"%>
    <%end%>
  </body>
</html>